# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
<ul>
    <li>List popular languages for Data Science</li>
    <li>List commonly used libraries used by Data Scientists</li>
    <li>List Data Science Tools</li>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Julia</li>
    <li>Scala</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

<table style="width:20%">
    <tr>
        <th> Data Science Tools </th>
    </tr>
    <tr><td>Anaconda</td></tr>
    <tr><td>Pychar</td></tr>
    <tr><td>Jupyter Notebook</td></tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ather